
  .terenuri__item {
    background-color: white;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .terenuri__list-item_1 {
    position: relative;
    background-color: #e1efe6;
    margin: 1rem -9.5rem !important;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #2a9d8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60rem !important;
  }